In [47]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [72]:
data=pd.read_csv(r"C:\Users\PARIMALA\Desktop\4thSEM\AssesinosDeInsectos\embankment\Dataset\logistic\soil.csv")

In [87]:
train=data[0:58]

In [88]:
test=data[59:]

In [89]:
train.head()

,Rainfall Rate,Waterlevel (in CFT),Gully Erosion,Water Erosion Potential,Wind Erosion Potential,Occuring of Breach
0,8.1,22456,0.00,1,0,0.0
1,12.2,23576,0.00,0,0,0.0
2,17.2,25982,0.00,0,0,0.0
3,53.4,25127,0.01,1,1,0.0
4,79.7,26386,0.02,1,0,0.0

In [90]:
test.head()

,Rainfall Rate,Waterlevel (in CFT),Gully Erosion,Water Erosion Potential,Wind Erosion Potential,Occuring of Breach
59,190.2,23480,0.03,2,2,NaN

In [91]:
x_train=train.drop('Occuring of Breach',axis=1)

In [92]:
y_train=train['Occuring of Breach']

In [93]:
x_test=test.drop('Occuring of Breach',axis=1)

In [94]:
true_p=test['Occuring of Breach']

In [95]:
from sklearn.linear_model import LogisticRegression

In [96]:
LG=LogisticRegression()

In [97]:
LG.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [98]:
pred=LG.predict(x_test)

In [99]:
pred

array([1.])

In [100]:
LG.score(x_train,y_train)

0.8620689655172413

In [101]:
LG.score(x_test,pred)

1.0

In [102]:
chances=pd.DataFrame()

In [103]:
chances['chance']=pred

In [105]:
chances.to_csv('soilpred.csv',header=True,index=False)

In [118]:
predi=pd.read_csv(r'C:\Users\PARIMALA\soilpred.csv')

In [119]:
data.tail()

,Rainfall Rate,Waterlevel (in CFT),Gully Erosion,Water Erosion Potential,Wind Erosion Potential,Occuring of Breach
55,51.8,34599,0.03,2,2,0.0
56,106.3,21857,0.07,1,0,0.0
57,144.6,21789,0.08,0,2,1.0
58,119.1,25978,0.07,0,0,0.0
59,190.2,23480,0.03,2,2,NaN

In [120]:
predi.head()

   chance
0     1.0